<div class="header d-flex justify-content-between align-items-center mt-4">
  <h2 class="fw-bold">Products</h2>
  <button class="btn btn-success" (click)="navigateToNewProduct()">
    Create Product
  </button>
</div>
<hr class="mt-2 mb-4" />

<div class="search-bar mb-4">
  <input
    type="text"
    class="form-control"
    placeholder="Search products by name..."
    [(ngModel)]="searchTerm"
    (ngModelChange)="filterProducts()"
  />
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
      <th scope="col">Quantity</th>
      <th scope="col">Unit Price</th>
      <th scope="col">Total</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.name }}</td>
      <td>{{ product.category }}</td>
      <td>{{ product.quantity }}</td>
      <td>{{ product.unitPrice | currency : "USD" }}</td>
      <td>{{ calculateTotal(product) | currency : "USD" }}</td>
      <td>
        <button class="btn btn-link p-0">
          <i
            class="bi bi-pencil-square"
            (click)="navigateToUpdateProduct(product.id)"
          ></i>
        </button>
        <button class="btn btn-link p-0 ms-2" style="color: red">
          <i class="bi bi-trash" (click)="delelteProduct(product.id)"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div
  class="bottom-controls d-flex justify-content-between align-items-center mt-4"
>
  <div
    class="rows-per-page d-flex justify-content-start align-items-center w-40"
  >
    <label for="rows">Records</label>
    <input
      type="number"
      id="rows"
      min="1"
      class="form-control custom-width"
      placeholder="10"
    />
  </div>
  <div class="pagination d-flex justify-content-start align-items-center pt-3">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item active"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </div>
</div>
